/*
    Created on : 27.2.2020, 12:17:55
    Author     : risberg
*/
.dtable {
    //implisiittisen grid in sarakkeiden määrä jsx:ssä oltava 1 (tuottaa flex-boxeja?)
    margin: 1rem;
    padding: 0.01em;
    //width: 100%;
    &__root {
        width: 100%;
        border-collapse: collapse;
        &__caption {
            color: white;
            background-color: tomato;
        }
    }
    &__header {
        border: 1px solid lightgrey;
        text-align: left;
        &__cell {
            border:  1px solid lightgrey;
            padding: 0.8rem;
            cursor: pointer;
        }
    }
    &__body {
        &__row {
            &__cell {
                border:  1px solid lightgrey;
                padding: 0.8rem;
            }
        }
        &:nth-child(odd) {
            background-color: whitesmoke;
        }
    }
}

