/*
    Created on : 28.2.2020, 12:53:40
    Author     : risberg
*/
.header {
    background-color: teal;
    font-size: 8rem;
    display: flex;
    justify-content: space-evenly;
    &__text {
        &-1 {
            color: whitesmoke;
        }
        &-2 {
            color: yellowgreen;
        }
    }
}

